<form method="post" action="/animals/<%= @animal.id %>">
  <div class="field">
  <label for="name">Name:</label>
  <input id="name" value="<%= @animal.name %>" type="text" name="name" />
</div>

<br>

  <div class="field">
  <label for="breed">Breed:</label>
  <input id="breed" value="<%= @animal.breed %>" type="text" name="breed" />
</div>

<br>

  <div class="field">
    <label for="image-url">Image url:</label>
    <input id="image-url" value="<%= @animal.image_url %>" type="text" name="image_url" />
  </div>
<br>

<div class="field">
  <label for="city">City:</label>
  <input id="city" value="<%= @animal.city %>" type="text" name="city" />
</div>

<br>


<div class="field">
  <label for="admis-date">Admis Date:</label>
  <input id="admis-date" value="<%= @animal.admis_date %>" type="date" name="admis_date" />
</div>

<br>


<div class="field">
  <label for="adopt-date">Adopt Date:</label>
  <input id="adopt-date" value="<%= @animal.adopt_date %>" type="date" name="adopt_date" />
</div>

<br>


<div class="field">
  <label for="adoptable">Adoptable:</label>
  <input id="adoptable" value="<%= @animal.adoptable %>" type="text" name="adoptable" />
</div>

<br>

<div class="field">
  <label for="adopted_by">Adopted By:</label>
  <select name="adopted_by">
    <% for owner in @owners %>
    <option <%= "selected" if owner.id == @animal.adopted_by %> value="<%= owner.id %>"><%= owner.pretty_name() %></option>
    <% end %>
  </select>
  <!-- <input id="adopted_by" type="text" name="adopted_by" /> -->
</div>


  <input type="submit" value="Update" />

</form>
