<p>Name: <%= @animal.pretty_name %></p>
<p>Breed: <%= @animal.breed %></p>
<p>City: <%= @animal.city %></p>
<p><img class="image" src="<%= @animal.image_url() %>" />
</p>
<p>Admis Date: <%= @animal.admis_date %></p>
<p>Adopt Date: <%= @animal.adopt_date %></p>
<p>Adoptable: <%= @animal.adoptable %></p>
<% if @owner != nil %>
  <p>Adopted By: <%= @owner.pretty_name() %></p>
<% end %>

<a href="/animals/<%= @animal.id %>/edit">
  EDIT Animal
</a>

<form action="/animals/<%= @animal.id %>/delete" method="post">
  <input class="sub" type="submit" value="Delete" />
</form>
